<footer class="footer mt-auto py-3 text-bg-dark" style="position: fixed; bottom: 0;">
  <div class="container-md">
    <p class="text-center m-0">Файна плитка тут: <a href="/" class='text-warning'> Betonna lavka</a> і тут: 
    <a href="/products" class='text-warning'> Products</a>.</p>
  </div>
</footer>