<footer class="footer mt-auto py-3 text-bg-dark">
  <div class="container-md">
    <p class="text-center m-0">Файна плитка тут: <a href="/"> Betonna lavka</a> і тут: 
    <a href="/products"> Products</a>.</p>
  </div>
</footer>