<% #@items.each do |item| %>
  <div id="<%= dom_id item %>">
    <p>
      <strong>Categorie:</strong>
      <%= item.categorie %>
    </p>

    <p>
      <strong>Product:</strong>
      <%= item.product %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= item.price %>
    </p>
  </div>
<% #end %>

