.background{
    background-color:rgb(240, 204, 106);
}
.display{
    display: flex
}

.extend_scroll{
  height: 1500px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col {
    width: 33.33%;
  }
  #products {
    flex-wrap: wrap;
  }
  
  #products .col-4 {
    flex-basis: 33.33%;
  }
  