<h1>Categories</h1>
<h3>Choose and edit category or create new.</h3>
<%= link_to "New category", new_category_path %>
<div>
    <% @category.each do |category| %>
        <%= render "category", category: category%>
        <%= link_to "Edit this category", edit_category_path(category) %>
        <%= button_to "Destroy this category", category, method: :delete %>
    <% end %>
</div>