<div id="<%= dom_id product %>">
  <p>
    <strong>Categorie:</strong>
    <%= product.categorie %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= product.product %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

</div>